body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: black;
	color: white;
}

* {
	margin: 0;
	padding: 0;
}

.menudiv {
	position: fixed;
	width: 100%;
}

.menubar {
	margin-bottom: 0.2em;
	width: 100%;
	display: none;
}

.menubar ul{
  display: block;
  background-color: rgba(5,5,5,0.6);
  list-style-type: none;
  padding-top: 1.7em;
  height: 40vh;
  text-align: center;
}

.menubar li a {
  font-size: 2em;
  color: white;
  margin: 1em;
  text-decoration: none;
}

.menubar_icon {
  cursor: pointer;
  width: 2.2em;
  margin: auto;
  position: relative;
  opacity: 1;
}

.bar1, .bar2, .bar3 {
  width: 3em;
  height: 0.5em;
  background-color: #a7b3a5;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 500px) {

.menubar ul{
  display: flex;
  height: 5em;
  justify-content: center;
 }

 .menubar li a {
  font-size: 1.8em;
  margin: 1em;
  text-decoration: none;
  text-align: center;
}

.menubar li a:hover:not(.active) {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

 .menubar_icon {
  cursor: pointer;
  margin: auto;
  width: 2.2em;
  position: relative;
  opacity: 1;
}

.bar1, .bar2, .bar3 {
  width: 2.2em;
  height: 0.3em;
  background-color: #a7b3a5;
  margin-bottom: 0.4em;
}

}

@media screen and (min-width: 1000px) {

}